# Data Manipulation & Analysis
pandas
numpy
scipy

# Machine Learning
scikit-learn
xgboost
imbalanced-learn

# Visualization
plotly
altair
matplotlib
seaborn
networkx

# Interactivity & Jupyter
ipywidgets
ipylab
ipython
jupyter
jupyterlab
nbconvert

# Model Explainability & Utils
shap
lime
statsmodels
scikit-optimize
joblib
